* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.nav-container {
  position: fixed;
  display: inline-flex;
  margin-top: -20px;
  height: 69px;
  width: 100vw;
  text-decoration: underline;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  /* background-color: slateblue; */
}
.nav-log > img {
  height: 50px;
  margin-left: 10px;
  /* justify-self: flex-start; */
}
.nav-menu-container {
  display: inline-flex;
  margin-right: 30px;
}
.nav-item {
  /* justify-content: flex-end; */
  margin-left: 30px;
}

.tea-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: skyblue; */
  margin: 10px 0px;
  padding: 20px 0px;
}

.tea-item {
  margin: 10px 10px;
  /* background-color: palevioletred; */
}

.hero {
  background-image: url('./images/img-mission-background.jpg');
  object-fit: contain;
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 700px;
  margin: 20px 50px;
  text-align: center;
  /* flex-direction: row; */
  /* align-content: center; */
  /* padding: 30px 0px; */
}

.hero-container {
  /* background-image: url('./images/img-mission-background.jpg');
  width: 1200px;
  height: 700px; */
  background-color: thistle;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
}

#hero-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1200px;
  height: 100px;
  background-color: black;
  /* text-align: center; */
}

/* .hero-label {
  justify-content: space-around;
} */

.month {
  margin: 70px 0px;
  text-align: center;
}
.month > h4 {
  margin-top: 15px;
}
.tea-container {
  width: 1000px;
  justify-content: center;
  /* justify-content: space-around; */

  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.tea-item > img {
  text-align: center;
  height: 200px;
  width: 300px;
  margin-right: 10px;
}

.tea-item > h4 {
  margin-top: 10px;
}

.fall > img {
  /* background-image: url('./images/img-berryblitz.jpg'); */
  /* object-fit: fill; */
}

.spiced {
  /* background-image: url('./images/img-spiced-rum.jpg');
  object-fit: cover; */
}

.locations {
  background-image: url('./images/img-locations-background.jpg');
  /* opacity: 0.5; */
  color: gray;
  object-fit: contain;
  margin: 20px 50px;
  text-align: center;
  flex-direction: row;
  /* justify-content: space-around; */
  /* padding: 30px 0px; */
}

.locations > h2 {
  padding-top: 50px;
  /* justify-content: space-around; */
}
.location-container {
  height: 500px;
  display: inline-flex;
  /* flex-direction: row; */
  /* align-content: center; */
}

.location-item-container {
  background-color: black;
  opacity: 1;
  width: 300px;
  height: max-content;
  margin: 15px 20px;
}

.location-item {
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: row;
  margin: 35px 0px;
  align-content: center;
  justify-content: center;
}

/* .foot-container {
  background-color: navy;
} */

.foot-item {
  /* background-color: goldenrod; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  padding: 5px 0px;
}

.foot-item-copyright {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 30px;
}
