* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.nav-container {
  display: inline-flex;
  background-color: slateblue;
  width: 100vw;
  justify-content: flex-end;
}

.log {
  justify-self: flex-start;
}
.tea-container {
  background-color: skyblue;
}

.tea-item {
  background-color: palevioletred;
}

.hero-container {
  background-image: url('./images/img-mission-background.jpg');
  width: 1200px;
  height: 700px;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
}

.hero-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1200px;
  height: 100px;
  background-color: black;
  text-align: center;
}

.hero {
  justify-content: space-around;
}

.tea-item > img {
  height: 200px;
  width: 300px;
}

.fall > img {
  /* background-image: url('./images/img-berryblitz.jpg'); */
  /* object-fit: fill; */
}

.spiced {
  /* background-image: url('./images/img-spiced-rum.jpg');
  object-fit: cover; */
}

.locations {
  background-image: url('./images/img-locations-background.jpg');
  object-fit: contain;
  margin: 20px 50px;
  text-align: center;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-content: center; */
  /* padding: 30px 0px; */
}

.locations > h2 {
  padding: 30px 0px;
}
.location-container {
  height: 500px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  /* align-content: center; */
}

.location-item-container {
  background-color: gray;
  width: 300px;
  height: max-content;
}

.location-item {
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: row;
  margin: 35px 0px;
  align-content: center;
  justify-content: center;
}

/* .foot-container {
  background-color: navy;
} */

.foot-item {
  /* background-color: goldenrod; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  padding: 5px 0px;
}

.foot-item-copyright {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 30px;
}
