
* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }

.main-container{
    background-image: url("pexels-roberto-nickson-2559941.jpg"), linear-gradient(#aca5d3, #5c5a77);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: antiquewhite;
    font-size: 2.5rem;
  }

  .company_header{
    display: flex;
    flex-direction: column;
    border: 1px salmon solid;
    height: max-content;
  }
  .company{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    border: 1px greenyellow solid;
    height: max-content;
    margin: 0.5rem 0rem;
  }
  
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    border: 1px blueviolet solid;
    margin: 0rem 0rem 0.5rem 0rem;
    }