* {
  font-family: fantasy;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: fantasy;
  background-color: #8b4513;
  color: #fff5ee;
  height: 40px;
  font-size: 25px;
}
table {
  width: 100vw;
  margin: 8px 0px;
  padding: 5px 5px;
}

table,
td {
  border: 1px solid #8b4513;
}

thead,
tfoot {
  background-color: #8b4513;
  color: #fff5ee;
}
