body {
  border: 0;
  margin: 0 15px;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
  display: block;
  font-size: 18px;
}

.container {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
}

.side,
.center {
  height: 75px;
  background-color: dodgerblue;
  border: 1px solid lightgrey;
  display: inline-block;
}

/* #top .side {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 100px;
}

#top .center {
  flex-grow: 1;
  flex-shrink: 3;
  flex-basis: 50px;
}

#bottom .side {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 75px;
}

#bottom .center {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 100px;
} */

/* Flex Shorthand */
#top .side {
  flex: 2 2 100px;
}

#top .center {
  flex: 1 3 50px;
}

#bottom .side {
  flex: 1 2 75px;
}

#bottom .center {
  flex: 2 1 100px;
}

/* Flex Wrap */

body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
}

h1,
h3 {
  text-align: center;
}

.flex-container {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  min-height: 125px;
  justify-content: space-around;
}

.flex-wrap-box {
  background-color: whitesmoke;
  border: 1px solid white;
  width: 100px;
  height: 100px;
}

#wrap {
  flex-wrap: wrap;
}

#nowrap {
  flex-wrap: nowrap;
}

#reverse {
  flex-wrap: wrap-reverse;
}

/* Flex Align-content */
body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.align-content-container {
  height: 300px;
  width: 600px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.left,
.center,
.right {
  /* Changed this to min-height */
  /* height: 75px; */
  min-height: 75px;
  width: 200px;
  margin: 2px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
}

#flexstart {
  align-content: flex-start;
}

#flexend {
  align-content: flex-end;
}

#center {
  align-content: center;
}

#between {
  align-content: space-between;
}

#around {
  align-content: space-around;
}
