a {
  color: #466995;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #466995;
}

.question-link:visited {
  color: #fff;
}

a,
.answer {
  cursor: pointer;
}

a:link {
  color: #61bff9;
}

a:visited,
.answer {
  color: #466995;
}

a:hover {
  text-decoration: none;
}

a:active,
.answer:active {
  color: #dbe9ee;
}

.answer {
  border: 1px solid #466995;
}

.answer:hover {
  background-color: #c0d6df;
}

.answer:active {
  color: #ffffff;
}
