* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
  text-align: center;
}

.navbar {
  height: 10vh;
  width: 100%;
  padding-top: 20px;
  margin: 0px auto;
  background-color: #203636;
}

.navbar a {
  margin-right: 45px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(238, 216, 187);
}
a {
  padding-top: 20px;
}

.color-box {
  display: inline-block;
  border: 1px #b1aa94 solid;
  border-radius: 10px;
  width: 160px;
  margin: 0px 20px;
  padding: 15px 15px;
  text-align: center;
  /* margin-right: 7px; */
  /* margin-bottom: 25px; */
}
.colors {
  background-color: hsla(46, 16%, 64%, 0.9);
  border: 1px rgb(99, 94, 49) solid;
  border-radius: 25px;
  padding: 25px 15px;
  margin: 20px 20px;
}
.swatch-1 {
  text-align: center;
  border: 1px #afed12 solid;
  border-radius: 25px;
  padding: 15px 0px;
  margin: 20px 0px;
}

.color1,
.color2,
.color3,
.color4,
.color5 {
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  top: 8px;
}

.swatch-1 .color1 {
  background-color: #a67c52;
}
.swatch-1 .color2 {
  background-color: #c60000;
}
.swatch-1 .color3 {
  background-color: #edd312;
}
.swatch-1 .color4 {
  background-color: #dbed12;
}
.swatch-1 .color5 {
  background-color: #afed12;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

.swatch-2 {
  text-align: center;
  border: 1px #f4bc2e solid;
  border-radius: 25px;
  padding: 15px 0px;
  margin: 20px 0px;
}
.swatch-2 .color1 {
  background-color: #a67c52;
}
.swatch-2 .color2 {
  background-color: #c60000;
}
.swatch-2 .color3 {
  background-color: #f46d2e;
}
.swatch-2 .color4 {
  background-color: #f4952e;
}
.swatch-2 .color5 {
  background-color: #f4bc2e;
}
.swatch-3 {
  text-align: center;
  border: 1px #e7f738 solid;
  border-radius: 25px;
  padding: 15px 0px;
  margin: 20px 0px;
}
.swatch-3 .color1 {
  background-color: #a67c52;
}
.swatch-3 .color2 {
  background-color: #c60000;
}
.swatch-3 .color3 {
  background-color: #f7bb38;
}
.swatch-3 .color4 {
  background-color: #f7e138;
}
.swatch-3 .color5 {
  background-color: #e7f738;
}
